.cast-speech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

    /* position: relative;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%); */
    
  }
  
  .cast-speech button {
    
    background-color: rgb(7, 14, 6);
    color: #e5e5e;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    
    
  }