.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    
    overflow: hidden;
  }
  
  .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  
  .slider-image.active {
    opacity: 1;
  }
  .slider-image.inactive {
    opacity: 0;
  }
  
.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* .slider-caption h1 {
  font-size: 24px;
  color: white;
} */

.slider-caption h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-size: 2em; */
   /* velikost textu bude přizpůsobena velikosti rodičovského elementu */
   text-align: center;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}
/* Nadpis stylování */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-size: 40px; */
  font-size: 3em;
  color: red;
  text-align: center;
 
  
}
@media (max-width: 700px){
    /*  mobil úprava */

    .hero {
        /* Nadpis */
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: 50px;
      margin-right: 20px;
      text-align: center;
    } 
    .slider-caption h2 {
        /* popis h2 */
        flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: 50px;
      margin-right: 20px;
      text-align: center;
    }
}